In [1]:
import pandas as pd

# Parte 1: Importação e exploração

In [2]:
df_gasp_brazil = pd.read_csv("int_comp/scr/GasPricesinBrazil_2004-2019.csv", sep = ';')

In [3]:
df_gasp_brazil.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

In [4]:
df_gasp_brazil = df_gasp_brazil.drop(columns='Unnamed: 0')

## Número de linhas e colunas

In [5]:
num_rows = df_gasp_brazil.shape[0]
num_columns = df_gasp_brazil.shape[1]


print(f"A tabela possuí {num_columns} colunas e {num_rows} linhas.")

A tabela possuí 20 colunas e 106823 linhas.

## Exibir as 10 primeiras linhas

In [6]:
df_gasp_brazil.head(10)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004
5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,0.999,2.050,0.426,0.095,0.957,0.128,0.5686,1.35,0.134,5,2004
6,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,1.030,1.950,0.353,0.150,1.1,0.068,0.7332,1.294,0.062,5,2004
7,2004-05-09,2004-05-15,NORDESTE,MARANHAO,ETANOL HIDRATADO,105,R$/l,1.631,0.158,1.350,2.000,0.515,0.097,1.116,0.091,0.9923,1.36183,0.082,5,2004
8,2004-05-09,2004-05-15,NORDESTE,PARAIBA,ETANOL HIDRATADO,125,R$/l,1.284,0.130,1.100,1.699,0.353,0.101,0.931,0.072,0.7577,1.2972,0.077,5,2004
9,2004-05-09,2004-05-15,NORDESTE,PERNAMBUCO,ETANOL HIDRATADO,423,R$/l,1.224,0.141,0.989,1.700,0.277,0.115,0.947,0.091,0.5643,1.3541,0.096,5,2004

## Utilizando o .info()

In [7]:
df_gasp_brazil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   106823 non-null  object
 1   DATA FINAL                     106823 non-null  object
 2   REGIÃO                         106823 non-null  object
 3   ESTADO                         106823 non-null  object
 4   PRODUTO                        106823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   106823 non-null  int64
 6   UNIDADE DE MEDIDA              106823 non-null  object
 7   PREÇO MÉDIO REVENDA            106823 non-null  float64
 8   DESVIO PADRÃO REVENDA          106823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           106823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           106823 non-null  float64
 11  MARGEM MÉDIA REVENDA           106823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       106823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       106823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     106823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      106823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      106823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  106823 non-null  object
 18  MÊS                            106823 non-null  int64
 19  ANO                            106823 non-null  int64
dtypes: float64(5), int64(3), object(12)
memory usage: 16.3+ MB

## Utilizando o .describe()

In [8]:
df_gasp_brazil.describe()

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,COEF DE VARIAÇÃO REVENDA,MÊS,ANO
count,106823.000000,106823.000000,106823.000000,106823.000000,106823.000000,106823.000000,106823.000000,106823.000000
mean,233.770976,10.870780,0.657227,9.416038,12.537731,0.045418,6.484006,2011.802271
std,403.282519,17.752533,1.349169,15.092193,20.841497,0.025066,3.443391,4.391530
min,1.000000,0.766000,0.000000,0.590000,0.999000,0.000000,1.000000,2004.000000
25%,42.000000,2.072000,0.072000,1.900000,2.310000,0.029000,4.000000,2008.000000
50%,104.000000,2.718000,0.114000,2.510000,2.999000,0.041000,6.000000,2012.000000
75%,243.000000,3.752000,0.191000,3.499000,4.150000,0.058000,9.000000,2016.000000
max,4167.000000,99.357000,10.748000,90.000000,120.000000,0.395000,12.000000,2019.000000

# Parte 2: Seleção e filtros

## Selecionando as colunas que indicam o tipo de combustível e o valor médio

In [9]:
df_tipo_comb_valor_medio = (
    df_gasp_brazil
    .rename(columns={
        "PRODUTO": "TIPO_COMBUSTIVEL", 
        "PREÇO MÉDIO REVENDA": "VALOR_MEDIO"
    })
    [["TIPO_COMBUSTIVEL", "VALOR_MEDIO"]]
)
df_tipo_comb_valor_medio.head()

   TIPO_COMBUSTIVEL  VALOR_MEDIO
0  ETANOL HIDRATADO        1.288
1  ETANOL HIDRATADO        1.162
2  ETANOL HIDRATADO        1.389
3  ETANOL HIDRATADO        1.262
4  ETANOL HIDRATADO        1.181

## Filtrando registro que o preço da gasolina foi maior que R$4,00

In [10]:
df_valor_maior_4 = (
    df_tipo_comb_valor_medio[df_tipo_comb_valor_medio["VALOR_MEDIO"] > 4]
)

display(df_valor_maior_4)

num_rows = df_valor_maior_4.shape[0]

print(f"Houveram {num_rows} ocorrências nesse filtro.")

       TIPO_COMBUSTIVEL  VALOR_MEDIO
24132               GLP       33.989
24133               GLP       30.335
24134               GLP       38.568
24135               GLP       33.388
24136               GLP       32.391
...                 ...          ...
106803              GLP       84.500
106804              GLP       69.977
106805              GLP       66.893
106806              GLP       68.128
106807              GLP       80.316

[23987 rows x 2 columns]

Houveram 23987 ocorrências nesse filtro.

## Dataframe com dados de 2015 em diante

In [11]:
df_gasp_brazil['DATA INICIAL'] = pd.to_datetime(df_gasp_brazil['DATA INICIAL'])
df_2015_adiante = df_gasp_brazil[df_gasp_brazil["DATA INICIAL"].dt.year >= 2015]
df_2015_adiante.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
71612,2015-01-04,2015-01-10,NORTE,ACRE,ETANOL HIDRATADO,23,R$/l,2.968,0.070,2.85,3.200,0.519,0.024,2.449,0.06,2.2974,2.4707,0.024,1,2015
71613,2015-01-04,2015-01-10,NORDESTE,ALAGOAS,ETANOL HIDRATADO,91,R$/l,2.504,0.116,2.25,2.709,0.383,0.046,2.121,0.102,1.8769,2.2655,0.048,1,2015
71614,2015-01-04,2015-01-10,NORTE,AMAPA,ETANOL HIDRATADO,2,R$/l,2.850,0.071,2.80,2.900,0.256,0.025,2.594,0,2.5935,2.5935,0,1,2015
71615,2015-01-04,2015-01-10,NORTE,AMAZONAS,ETANOL HIDRATADO,77,R$/l,2.584,0.157,2.45,3.320,0.235,0.061,2.349,0.054,2.1742,2.403,0.023,1,2015
71616,2015-01-04,2015-01-10,NORDESTE,BAHIA,ETANOL HIDRATADO,394,R$/l,2.415,0.167,1.95,2.799,0.494,0.069,1.921,0.111,1.695,2.2427,0.058,1,2015